li.nav-item > a, header-btn {
    text-decoration: none;
    text-transform: capitalize;
    color: #FFFFFF;
    padding: 25px 12.5px;
    box-sizing: border-box;
    transition: all .4s ; 
    border-radius: 50%; 
}

body{
   margin: 0;
   padding: 0;
   background-color: #2e2a2a;
   font-size: 10px;

}

li.nav-item > a:hover{
    color: #FFB742 ;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0  48px;
    font-size: 18px;
    background-color: #2e2a2a;
  
}

.nav{
    list-style: none;
    display: flex;
}


body, ul{
    margin: 0;
    padding: 0;
}


.hire_bottom {
     padding: 15px;
    text-align: center;
    font-size: 1.4rem ;
    font-weight: 700;
    color: #212529;
    background-color: #FFB742;
    border-radius: 55px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
   
}

.name{
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 1.8rem;

 
    text-align: center;
  

}
p.name>span{
    color: #FFB742;
    text-decoration: underline;
}

.position{
    color: #FFFFFF;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 48px;
 
    

}

.mean{
    font-family: 'Inter', sans-serif;
    font-weight: 450px;
 
    text-align: center;
    color: #FFFFFF;
    font-size: 24px;

}
.section1{
    
    background-color: #2e2a2a;
    margin: 0;
    padding: 0;
    padding-top: 1px;
    border: none;
    height: 600px;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 10px;
}


.face_smile{
    margin: 0;
 
   padding: 0%;

}

.face_smile:hover {
   
    background-color: #FFB742;
    border-radius: 270px;
 }
 
 .face_smile {
    width: 18%;
    transition: all .0s;
 }

 .achievements_box {
     width: 416px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding-bottom: 20px;
     padding-top: 20px;
     background-color: #1e1e1f;
     border-radius: 10px;
     transition: all 1s;
     

 }

 .achievements{
     display: flex;
     justify-content: space-around;
     margin-top: 150px;
     padding: 0px 150px ;
     background-color: #2e2a2a;
     border: none;
     
  
 }

 .achievements_logo {
    margin-left: 3vw;
 }
 
 .achievements_text{

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;

 }
 .achievement_number{

    color: #FFB742;
    font-size: 25px;
    text-decoration: none;
 }

 .arrow{
    margin-right: 3px;
    color: #FFFFFF;
    padding-right: 35px;
    font-size: 16px;
    font-weight: 700;

 }

 a{
     text-decoration: none;
 }

 .achievements_box:hover {
    background-color: #FFB742;
    /* box-shadow: 0 0 7px 8px #FFB742; */
 } 

 .achievements_box:hover span {
    color: black;
 } 

 .achievements_box:hover .arrow {
    color: black;
 } 

.about_me{
    background-color: #2e2a2a;
    display: flex;
    margin-top: 115px;
    padding-left: 100px;
    justify-content: space-around
    

}

.about_me_who {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #FFB742;
    background-color: #292B2E;
    width: max-content;
    padding: 0.5% 3% 0.5% 3%;
    border-radius: 50px;
    text-transform: uppercase;
} 
.about_me_title {
    font-size: 3.8rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: white;
    margin-bottom: 2%;
 }
 .about_me_text {
  
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #D4D4D4;
    margin-bottom: 2%;
    overflow: hidden;
    width: 672px;
   
 
 }
 .hire_bottom{
    padding: 15px;
    text-align: center;
    width: 106px;
    font-size: 1.4rem ;
    font-weight: 700;
    color: #212529;
    background-color: #FFB742;
    border-radius: 55px;
 
 }

 /* <!-- Четвертый блок с работами --> */
 .work{
     margin-top: 6px;
 }

 .work_header{
     display: flex;
     align-items: center;
     flex-direction: column;


 }

 .work_my {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #FFB742;
    background-color: #1e1e1f;
    width: max-content;
    padding: 0.5% 3% 0.5% 3%;
    border-radius: 50px;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 25px;
 } 

.work_title{
    font-size: 3.8rem;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-weight: 700;
    margin-bottom: 2%;
}

.work_menu {
    width: 100%;

} 

.work_menu li {
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    text-transform: capitalize;
    text-align: center;
    margin-right: 15px;

    

}

.work_menu a {
    color: white;
    border-radius: 3px;
    transition: all 1s;
}
.work_menu ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0 300px;
 }

 .work_menu a:hover {
    background-color: #FFB742;
    color: #212529;
    box-shadow: 0px 0px 10px 10px #FFB742 ;
 }

    /* Фотогалерея  */

.photo_of_works_block{
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 1.5%;
    padding: 0 250px;
    transition: all 1s;
    cursor: pointer


}

.fotos_work{
    margin-top: 50px;
}

.photo_of_works_box:hover {
    transform: scale(1.05);
} 

.photo_of_works_box {
    transition: all 1s;
    cursor: pointer;
} 

/* подвал сайта  */


footer {
    background-color: #1C1C1C;
    box-sizing: border-box;
    margin-top: 0%;
    display: flex;
    justify-content: space-evenly;
} 

.footer_box {
    width: 21%;
    margin-left: 1%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-transform: capitalize;
}

.footer_box_name {
    text-transform: capitalize;
    color: #FFB742;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    margin-top: 17px;
}

.footer_box_text {
    color: #D4D4D4;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 10%;
} 
.footer_list {
    margin-top: 6%;
    font-size: 1.5rem;
    color: #F5FBF2;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
 }

 .list {
    font-size: 1.1rem;
    color: #7B7B7B;
    font-family: 'Inter', sans-serif;
    list-style-type: none;
    padding-left: 0;
 }
 
 .list a {
     color: #7B7B7B;
 } 
 
 .list li{
     margin: 2%;
 }

 .list a:hover {
    color: #FFB742;
 } 